$primary_color: #FDBE57;

.container {
    width: 100%;
    display: flex;
    justify-content: center;

    .main {
        width: 100%;

        .images {}

        @media screen and (min-width: '769px') {
            .images {

                .bigImage {
                    display: block;
                }

                .smallImage {
                    display: none;
                }
            }
        }

        @media screen and (max-width: '768px') {
            .images {

                .bigImage {
                    display: none;
                }

                .smallImage {
                    display: block;
                }
            }
        }


    }
}