$primary_color: #FDBE57;

.container {
    width: 100%;
    display: flex;
    justify-content: center;

    .main {
        width: 100%;
        overflow: hidden;

        .carousel {
            width: 300vw;
            display: flex;
            align-items: center;
            transition: all 1s;

            .slide {
                width: 100vw;

                @media screen and (min-width: '1281px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 110vh;
                        display: block;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: none;
                    }
                }

                @media screen and (max-width: '1280px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 100vh;
                        display: block;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: none;
                    }
                }

                @media screen and (max-width: '1024px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 100vh;
                        display: block;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: none;
                    }
                }

                @media screen and (max-width: '912px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 45vh;
                        display: block;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: none;
                    }
                }

                @media screen and (max-width: '820px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 45vh;
                        display: block;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: none;
                    }
                }

                @media screen and (max-width: '768px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 50vh;
                        display: block;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: none;
                    }
                }

                @media screen and (max-width: '540px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 100vh;
                        display: none;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 90vh;
                        display: block;
                    }
                }

                @media screen and (max-width: '415px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 100vh;
                        display: none;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: block;
                    }
                }

                @media screen and (max-width: '391px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 100vh;
                        display: none;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: block;
                    }
                }

                @media screen and (max-width: '281px') {

                    .pictureOne {
                        position: relative;
                        width: 100%;
                        height: 100vh;
                        display: none;
                    }

                    .pictureTwo {
                        position: relative;
                        width: 100%;
                        height: 70vh;
                        display: block;
                    }
                }
            }
        }

    }
}