$primary_color: #FDBE57;

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.8);
    border-top: 1px solid $primary_color;

    .main {
        width: 100%;
        display: grid;
        align-items: center;
        color: $primary_color;
        justify-content: center;

        @media screen and (min-width: '1281px') {
            grid-template-columns: auto auto auto auto;
            margin: 50px 0;
            padding: 0 10vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 1.5vw;
                }

                p {
                    font-size: 1.2vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '1280px') {
            grid-template-columns: auto auto auto auto;
            margin: 50px 0;
            padding: 0 10vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 2vw;
                }

                p {
                    font-size: 1.2vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '1152px') {
            grid-template-columns: auto auto;
            margin: 50px 0;
            padding: 0 10vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 2.5vw;
                }

                p {
                    font-size: 1.6vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '1024px') {
            grid-template-columns: auto auto;
            margin: 50px 0;
            padding: 0 10vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 2.5vw;
                }

                p {
                    font-size: 1.6vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '950px') {
            grid-template-columns: auto auto;
            margin: 50px 0;
            padding: 0 10vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 3vw;
                }

                p {
                    font-size: 2vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '800px') {
            grid-template-columns: auto auto;
            margin: 50px 0;
            padding: 0 10vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 3vw;
                }

                p {
                    font-size: 2.5vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '650px') {
            grid-template-columns: auto auto;
            margin: 50px 0;
            padding: 0 5vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 3.5vw;
                }

                p {
                    font-size: 3vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '550px') {
            grid-template-columns: auto auto;
            margin: 50px 0;
            padding: 0 5vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 4vw;
                }

                p {
                    font-size: 3vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '450px') {
            grid-template-columns: auto;
            margin: 50px 0;
            padding: 0 15vw;
            gap: 30px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 5vw;
                }

                p {
                    font-size: 4vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '400px') {
            grid-template-columns: auto;
            margin: 30px 0;
            padding: 0 10vw;
            gap: 20px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 100px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 5vw;
                }

                p {
                    font-size: 4vw;

                    span {
                        color: #fff;
                    }
                }

            }
        }

        @media screen and (max-width: '300px') {
            grid-template-columns: auto;
            margin: 30px 0;
            padding: 0 30px;
            gap: 20px;

            .picture {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                img {
                    max-width: 100px;
                }
            }

            .address {
                flex: 2;
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;

                .icon {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 5vw;
                }

                p {
                    font-size: 4.5vw;

                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
}