$primary_color: #FDBE57;

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);

    .main {
        width: 100%;
        max-width: 1280px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        @media screen and (min-width: '1281px') {
            padding: 5px 40px;

            .picture {
                flex: 1;
                max-width: 120px;
            }

            .menu {
                flex: 3;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 40px;

                .icon {
                    font-size: 2vw;
                    color: $primary_color;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }

        @media screen and (max-width: '1280px') {
            padding: 5px 40px;

            .picture {
                flex: 1;
                max-width: 120px;
            }

            .menu {
                flex: 3;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                .icon {
                    font-size: 2.2vw;
                    color: $primary_color;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }

        @media screen and (max-width: '1100px') {
            padding: 5px 40px;

            .picture {
                flex: 1;
                max-width: 120px;
            }

            .menu {
                flex: 3;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                .icon {
                    font-size: 3vw;
                    color: $primary_color;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }

        @media screen and (max-width: '900px') {
            padding: 5px 20px;

            .picture {
                flex: 1;
                max-width: 120px;
            }

            .menu {
                flex: 3;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                .icon {
                    font-size: 3.6vw;
                    color: $primary_color;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }

        @media screen and (max-width: '768px') {
            padding: 5px 20px;

            .picture {
                flex: 1;
                max-width: 120px;
            }

            .menu {
                flex: 3;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                .icon {
                    font-size: 4.6vw;
                    color: $primary_color;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }

        @media screen and (max-width: '440px') {
            padding: 5px 10px;

            .picture {
                flex: 1;
                max-width: 100px;
            }

            .menu {
                flex: 3;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                .icon {
                    font-size: 7vw;
                    color: $primary_color;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }

    @media screen and (max-width: '768px') {
        position: relative;
        background-color: rgba(0, 0, 0, 0.8);
    }
}