$primary_color: #FDBE57;

.container {
    width: 100%;
    display: flex;
    justify-content: center;

    .main {
        width: 100%;
        max-width: 1080px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: '1281px') {
            margin: 50px 0;
            gap: 40px;

            h1 {
                font-size: 3.6vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: center;
                row-gap: 40px;
                column-gap: 30px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 300px;
                    //     height: 300px;
                    //     box-shadow: 0.5px 0.5px 3px #353638;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 1.2vw;
                    }
                }
            }
        }

        @media screen and (max-width: '1280px') {
            margin: 50px 0;
            gap: 40px;

            h1 {
                font-size: 4.2vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: center;
                row-gap: 40px;
                column-gap: 30px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 300px;
                    //     height: 300px;
                    //     box-shadow: 0.5px 0.5px 3px #353638;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 1.6vw;
                    }
                }
            }
        }

        @media screen and (max-width: '1024px') {
            margin: 50px 0;
            gap: 40px;

            h1 {
                font-size: 5.2vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: center;
                row-gap: 40px;
                column-gap: 30px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 250px;
                    //     height: 250px;
                    //     box-shadow: 0.5px 0.5px 3px #353638;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 2.2vw;
                    }
                }
            }
        }

        @media screen and (max-width: '912px') {
            margin: 50px 0;
            gap: 40px;

            h1 {
                font-size: 5.6vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: center;
                row-gap: 40px;
                column-gap: 30px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 250px;
                    //     height: 250px;
                    //     box-shadow: 1px 1px 3px #353638;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 2.6vw;
                    }
                }
            }
        }

        @media screen and (max-width: '820px') {
            margin: 50px 0;
            gap: 40px;

            h1 {
                font-size: 6vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                row-gap: 40px;
                column-gap: 50px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 320px;
                    //     height: 320px;
                    //     box-shadow: 1px 1px 3px #353638;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 3.2vw;
                    }
                }
            }
        }

        @media screen and (max-width: '768px') {
            margin: 50px 0;
            gap: 40px;

            h1 {
                font-size: 6.2vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                row-gap: 50px;
                column-gap: 50px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 300px;
                    //     height: 300px;
                    //     box-shadow: 1px 1px 3px #353638;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 3.6vw;
                    }
                }
            }
        }

        @media screen and (max-width: '540px') {
            margin: 40px 0;
            gap: 30px;

            h1 {
                font-size: 6.6vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                row-gap: 20px;
                column-gap: 20px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 220px;
                    //     height: 220px;
                    //     box-shadow: 1px 1px 3px #353638;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 3.6vw;
                    }
                }
            }
        }

        @media screen and (max-width: '501px') {
            margin: 40px 0;
            gap: 30px;

            h1 {
                font-size: 7.6vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                row-gap: 25px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 310px;
                    //     height: 310px;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 5.2vw;
                    }
                }
            }
        }

        @media screen and (max-width: '415px') {
            margin: 40px 0;
            gap: 30px;

            h1 {
                font-size: 7.6vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                row-gap: 25px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 310px;
                    //     height: 310px;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 5.2vw;
                    }
                }
            }
        }

        @media screen and (max-width: '390px') {
            margin: 40px 0;
            gap: 30px;

            h1 {
                font-size: 7.6vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                row-gap: 15px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 300px;
                    //     height: 300px;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 5.2vw;
                    }
                }
            }
        }

        @media screen and (max-width: '280px') {
            margin: 30px 0;
            gap: 20px;

            h1 {
                font-size: 7.6vw;
                text-align: center;
                font-weight: 600;
                color: $primary_color;
                text-transform: uppercase;
            }

            .products {
                display: grid;
                grid-template-columns: auto;
                justify-content: center;
                row-gap: 15px;

                .product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    // .picture {
                    //     position: relative;
                    //     border-radius: 10px;
                    //     width: 200px;
                    //     height: 200px;

                    //     img {
                    //         border-radius: 10px;
                    //     }
                    // }

                    p {
                        font-size: 5.6vw;
                    }
                }
            }
        }
    }
}