$primary_color: #fdbe57;

.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .main {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: "1281px") {
      margin: 50px 0;
      gap: 40px;

      h1 {
        font-size: 2vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 0 15vw;
        gap: 3vw;
        text-align: center;

        p {
          font-size: 1.2vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "1280px") {
      margin: 50px 0;
      gap: 40px;

      h1 {
        font-size: 2.6vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 0 20vw;
        gap: 4vw;
        text-align: center;

        p {
          font-size: 1.5vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "1080px") {
      margin: 50px 0;
      gap: 40px;

      h1 {
        font-size: 2.6vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 0 15vw;
        gap: 5vw;
        text-align: center;

        p {
          font-size: 1.6vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "950px") {
      margin: 50px 0;
      gap: 30px;

      h1 {
        font-size: 4vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 0 15vw;
        gap: 5vw;
        text-align: center;

        p {
          font-size: 2vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "800px") {
      margin: 50px 0;
      gap: 30px;

      h1 {
        font-size: 4.2vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 0 15vw;
        gap: 5vw;
        text-align: center;

        p {
          font-size: 2.5vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "700px") {
      margin: 50px 0;
      gap: 30px;

      h1 {
        font-size: 5.6vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 0 50px;
        gap: 30px;
        text-align: center;

        p {
          font-size: 3vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "539px") {
      margin: 50px 0;
      gap: 30px;

      h1 {
        font-size: 6.6vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 0 30px;
        gap: 30px;
        text-align: center;

        p {
          font-size: 4vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "450px") {
      margin: 50px 0;
      gap: 30px;

      h1 {
        font-size: 7.6vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 0 30px;
        gap: 25px;
        text-align: center;

        p {
          font-size: 4vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "400px") {
      margin: 40px 0;
      gap: 30px;

      h1 {
        font-size: 7.6vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 0 20px;
        gap: 20px;
        text-align: center;

        p {
          font-size: 4vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: "300px") {
      margin: 30px 0;
      gap: 30px;

      h1 {
        font-size: 7.6vw;
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 600;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 0 20px;
        gap: 20px;
        text-align: center;

        p {
          font-size: 4.5vw;
        }

        img {
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 3px $primary_color;
          margin-bottom: 10px;
        }
      }
    }
  }
}
